In [28]:
import pandas as pd
import json
# import numpy as np
# import pickle
# import pyarrow.parquet as pq
import os

In [29]:
estado = 'florida'

In [30]:
directorio = f'../../../assets/review-states/{estado}'
df_estado = pd.DataFrame()

def limpiar_datos(line):
    try:
        # Reemplazar caracteres de escape por espacios en blanco
        # line = line.replace('\\', ' ')
        return json.loads(line)
    except json.JSONDecodeError:
        return None

for archivo_json in os.listdir(directorio):
    if archivo_json.endswith('.json'):
        print("Archivo", archivo_json)
        ruta_completa = os.path.join(directorio, archivo_json)
        with open(ruta_completa, 'r', encoding='utf-8') as f:
            # datos = [limpiar_datos(line) for line in f if line.strip()]
            for line in f.readlines():   
                # Lee el archivo JSON
                # j = json.loads(line)
                datos = limpiar_datos(line)
                # datos = [limpiar_datos(line) for line in f if line.strip()]
                if datos is not None:
                    datos = [d for d in datos if d is not None]  # Eliminar datos nulos
                    df_temp = pd.DataFrame([j])
                    if 'pics' in df_temp.columns:
                        df_temp.drop('pics', axis=1, inplace=True)
                    if 'resp' in df_temp.columns:
                        df_temp.drop('resp', axis=1, inplace=True)
                    # Rellenar valores nulos con ceros
                    df_temp.fillna(0, inplace=True)
                    if not df_temp.empty:
                        df_estado = pd.concat([df_estado, df_temp], ignore_index=True)
            break # <--Para probar con un solo archivo
df_estado

Archivo 0.json

,user_id,name,time,rating,text,gmap_id
0,103724894267191698349,Stacey b,1518303918833,3,0,0x88d91c542233bca3:0xdb97a9de2e317378
1,103724894267191698349,Stacey b,1518303918833,3,0,0x88d91c542233bca3:0xdb97a9de2e317378
2,103724894267191698349,Stacey b,1518303918833,3,0,0x88d91c542233bca3:0xdb97a9de2e317378
3,103724894267191698349,Stacey b,1518303918833,3,0,0x88d91c542233bca3:0xdb97a9de2e317378
4,103724894267191698349,Stacey b,1518303918833,3,0,0x88d91c542233bca3:0xdb97a9de2e317378
...,...,...,...,...,...,...
994,103724894267191698349,Stacey b,1518303918833,3,0,0x88d91c542233bca3:0xdb97a9de2e317378
995,103724894267191698349,Stacey b,1518303918833,3,0,0x88d91c542233bca3:0xdb97a9de2e317378
996,103724894267191698349,Stacey b,1518303918833,3,0,0x88d91c542233bca3:0xdb97a9de2e317378
997,103724894267191698349,Stacey b,1518303918833,3,0,0x88d91c542233bca3:0xdb97a9de2e317378
998,103724894267191698349,Stacey b,1518303918833,3,0,0x88d91c542233bca3:0xdb97a9de2e317378